.wetr {

    .mySwiper2 {

        .swiper-slide {
            .mhum:hover {
                .min div {
                    transition: 1s;
                }

                .min {

                    .min_2 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/1.jpg);
                    }

                    .min_1 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/5.jpg);
                    }

                    .min_4 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/7.jpg);
                    }

                    .min_5 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/4.jpg);
                    }

                    .min_6 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/3.jpg);
                    }

                    .min_7 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/6.jpg);
                    }

                    .min_3 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/4.jpg);
                    }

                    .min_8 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/9.jpg);
                    }

                    .min_9 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/3.jpg);
                    }

                    .min_10 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/3.jpg);
                    }

                    .min_11 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/9.jpg);
                    }

                    .min_12 {
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/3.jpg);
                    }
                }

                .min2 {
                    .min_text1 {
                        display: none;
                        transition: 1s;
                    }

                    .min_span {
                        display: none;
                        transition: 1s;
                    }

                    .min_text2 {
                        display: block;
                        position: relative;
                        animation: aq 0.200s ;
                        display: flex;
                    }

                    @keyframes aq {
                        0% {
                            margin-top: 20px;
                        }

                        100% {
                            margin-top: 0;
                        }

                    }

                }
            }

        }
    }
}