.a_b {
    width: 100%;
    height: 2400px;

    .img2 {
        margin-top: 100px;
        width: 100%;
        height: 280px;
        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/bg/breadcrumb.jpg);

        .block_p1 {
            width: 100%;
            height: 100%;
            background-color: #ffffff49;
            display: flex;

            .block_text_p1 {
                width: 300px;
                height: 100px;
                margin: auto;

                h2 {
                    color: #000;
                    text-align: center;
                    font-family: "Great Vibes", cursive;
                    font-size: 30px;
                    font-weight: 700;
                }

                p {
                    font-size: 18px;
                    color: #000000;
                    font-family: "Poppins", sans-serif;
                    font-weight: 400;
                    text-align: center;
                    margin-top: 10px;

                    span {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    .weert {
        width: 1200px;
        height: 1500px;
        margin: auto;

        .wert {
            margin-top: 100px;
            width: 100%;
            height: 700px;
            background-image: url(https://htmldemo.net/flosun/flosun/assets/images/blog/blog1.jpg);
            background-position: center;
            background-size: cover;
        }

        .wert1 {
            margin-top: 40px;
            width: 100%;
            height: 100px;

            h2 {
                font-size: 28px;
                font-family: "Poppins", sans-serif;
                color: #010101;
                text-transform: uppercase;
            }

            p {
                line-height: 1.6;
                font-weight: 400;
                color: #484848;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
            }
        }

        .wert2 {
            width: 95%;
            height: 130px;
            background-color: #f6f6f6;
            margin-left: 5%;
            display: flex;

            .q {
                width: 5px;
                height: 100%;
            }

            p {
                margin: 40px;
                line-height: 1.6;
                font-weight: 400;
                color: #484848;
                font-family: "Poppins", sans-serif;
            }
        }

        .wert3 {
            width: 100%;
            height: 100px;

            p {
                margin-top: 20px;
                line-height: 1.6;
                font-weight: 400;
                color: #484848;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
            }
        }

        .wert4 {
            width: 100%;
            height: 13px;
            display: flex;
            gap: 38%;

            p {
                font-family: "Poppins", sans-serif;
                color: #000000;
                font-weight: 500;
                margin-top: 0px;
                font-weight: 400;
                line-height: 1;
                font-size: 12px;
            }
        }

        hr {
            width: 100%;
            height: 10px;
        }

        .wert5 {
            margin: 0 530px;
            width: 129px;
            height: 36px;
            background-image: url(../../src/components/UI/ul/ad.png);
            background-repeat: no-repeat;
        }

        .wert6 {
            width: 100%;
            height: 400px;

            .blo_ppo {
                font-family: "Poppins", sans-serif;
                color: #000000;
                font-size: 24px;
                margin-top: 0px;
                font-weight: 400;
                line-height: 1;
            }

            .parent8 {
                display: grid;
                grid-template-columns: repeat(8, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 30px;
                width: 95%;
                height: 300px;
                margin-top: 45px;

                .div81 {
                    grid-area: 1 / 1 / 2 / 9;
                    display: flex;

                    .div_p_img {
                        height: 80px;
                        width: 80px;
                        background-position: center;
                        background-size: cover;
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/review/1.jpg);

                    }

                    .wer_p {
                        margin-left: 10px;

                        p {
                            line-height: 1.6;
                            font-weight: 400;
                            color: #484848;
                            font-family: "Poppins", sans-serif;
                            scroll-behavior: smooth;
                            font-size: 14px;
                            line-height: 35px;

                            a {
                                color: #000;
                                text-decoration: none;

                                span {
                                    font-family: 1000;
                                    font-size: 18px;
                                }
                            }

                            a:hover {
                                color: #E72463;
                            }
                        }
                    }
                }

                .div82 {
                    grid-area: 2 / 2 / 3 / 9;
                    display: flex;

                    .div_p_img {
                        height: 80px;
                        width: 80px;
                        background-position: center;
                        background-size: cover;
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/review/1.jpg);

                    }

                    .wer_p {
                        margin-left: 10px;

                        p {
                            line-height: 1.6;
                            font-weight: 400;
                            color: #484848;
                            font-family: "Poppins", sans-serif;
                            scroll-behavior: smooth;
                            font-size: 14px;

                            a {
                                color: #000;
                                text-decoration: none;

                                span {
                                    font-family: 1000;
                                    font-size: 18px;
                                }
                            }

                            a:hover {
                                color: #E72463;
                            }
                        }
                    }
                }

                .div83 {
                    grid-area: 3 / 1 / 4 / 8;
                    display: flex;

                    .div_p_img {
                        height: 80px;
                        width: 80px;
                        background-position: center;
                        background-size: cover;
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/review/1.jpg);

                    }

                    .wer_p {
                        margin-left: 10px;

                        p {
                            line-height: 1.6;
                            font-weight: 400;
                            color: #484848;
                            font-family: "Poppins", sans-serif;
                            scroll-behavior: smooth;
                            font-size: 14px;

                            a {
                                color: #000;
                                text-decoration: none;

                                span {
                                    font-family: 1000;
                                    font-size: 18px;
                                }
                            }

                            a:hover {
                                color: #E72463;
                            }
                        }
                    }
                }

            }

            .pop {
                font-family: "Poppins", sans-serif;
                color: #000000;
                font-weight: 500;
                margin-top: 40px;
                font-weight: 400;
                line-height: 1;
                font-size: 24px;
            }
            .but1 {
                width: 100%;
                height: 45px;
                font-size: 16px;
                color: #fff;
                background-color: #E72463;
                font-family: 'Great Vibes', cursive;
                font-family: 'Poppins', sans-serif;
                border: none;
                position: relative;
                margin-top: 10px;
                margin-bottom: 100px;
                transition: 1s;
            }
            .but1:hover{
                background-color: #000000;
                transition: 1s;
            }

        }
    }
}