.img3 {
    margin-top: 100px;
    width: 100%;
    height: 280px;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/bg/breadcrumb.jpg);

    .block_p1 {
        width: 100%;
        height: 100%;
        background-color: #ffffff49;
        display: flex;

        .block_text_p1 {
            width: 300px;
            height: 100px;
            margin: auto;

            h2 {
                color: #000;
                text-align: center;
                font-family: "Great Vibes", cursive;
                font-size: 30px;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                color: #000000;
                font-family: "Poppins", sans-serif;
                font-weight: 400;
                text-align: center;
                margin-top: 10px;

                span {
                    font-size: 15px;
                }
            }
        }
    }
}

.sh_ul1 {
    width: 1200px;
    height: 1200px;
    margin: auto;

    .parentq {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        width: 100%;
        height: 100%;

        .div1q {
            grid-area: 1 / 1 / 8 / 2;

            .q_sh {
                width: 100%;
                height: 40px;
                margin-top: 60px;
                border-bottom: solid rgba(0, 0, 0, 0.158) 2px;

                .sh_p {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1;
                    font-family: "Josefin Slab", serif;
                }

                .sh_p1 {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1;
                    font-family: "Josefin Slab", serif;
                    margin-top: 80px;
                }

                .sh_p2 {
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 1;
                    font-family: "Josefin Slab", serif;
                    margin-top: 60px;
                }

                .sh_pop {
                    margin-top: 40px;
                    height: 55px;
                    width: 100%;
                    display: flex;

                    .sh_inp {
                        width: 82%;
                        border: 1px solid rgba(0, 0, 0, 0.11);
                        outline: none;
                        height: 100%;
                    }

                    .sh_inp:hover {
                        border: 1px solid rgba(255, 0, 0, 0.315);
                    }

                    .sh_but {
                        background-image: url(../../src/components/UI/ul/kok.png);
                        background-position: center;
                        border: none;
                        width: 18%;
                        height: 100%;
                    }

                    .sh_but:hover {
                        background-image: url(../../src/components/UI/ul/kop.png);
                    }


                }

                .q_sh1 {
                    width: 100%;
                    height: 2px;
                    border: solid rgba(0, 0, 0, 0.158) 1px;
                    margin-bottom: 30px;
                }

                .sh_pop1 {
                    width: 100%;
                    height: 5px;
                    display: flex;
                    background-color: #000;
                    z-index: 1;
                    #volume {
                        width: 50%;
                        background: #000000;
                        height: 1px;
                        border: solid black 1px;
                        margin: auto 0;
                    }
                }
            }
        }

        .div2q {
            grid-area: 1 / 2 / 8 / 5;
        }
    }
}