.carus3 {
  width: 100%;
  height: 300px;
  background-color: #f3f3f3;
  display: flex;

  .mySwiper5 {
    width: 75%;
    margin: auto;
    height: 33%;
    .swiper-button-prev{color: black;}
    .swiper-button-next{color: black;}
    .carus_j1 {
      background-image: url(https://htmldemo.net/flosun/flosun/assets/images/brand/4.png);
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: auto;

      .carus_k {
        width: 100%;
        height: 100%;
        

        .carus_k1 {
          width: 100%;
          height: 100%;
          background-color: #f8f8f871;
        }
      }

      .carus_k:hover {
        .carus_k1 {
          background-color: #ffffff00;
        }
      }
      }
    }

    .carus_j2 {
      background-image: url(https://htmldemo.net/flosun/flosun/assets/images/brand/5.png);
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: auto;

      .carus_k {
        width: 100%;
        height: 100%;

        .carus_k1 {
          width: 100%;
          height: 100%;
          background-color: #f8f8f871;
        }
      }

      .carus_k:hover {
        .carus_k1 {
          background-color: #ffffff00;
        }
      }
      }
    }

    .carus_j3 {
      background-image: url(https://htmldemo.net/flosun/flosun/assets/images/brand/1.png);
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: auto;

      .carus_k {
        width: 100%;
        height: 100%;

        .carus_k1 {
          width: 100%;
          height: 100%;
          background-color: #f8f8f871;
        }
      }

      .carus_k:hover {
        .carus_k1 {
          background-color: #ffffff00;
        }
      }
    }

    .carus_j4 {
      background-image: url(https://htmldemo.net/flosun/flosun/assets/images/brand/2.png);
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: auto;

      .carus_k {
        width: 100%;
        height: 100%;

        .carus_k1 {
          width: 100%;
          height: 100%;
          background-color: #f8f8f871;
        }
      }

      .carus_k:hover {
        .carus_k1 {
          background-color: #ffffff00;
        }
      }
    }

    .carus_j5 {
      background-image: url(https://htmldemo.net/flosun/flosun/assets/images/brand/3.png);
      background-position: center;
      background-size: cover;
      height: 100%;
      width: 100%;
      margin: auto;

      .carus_k {
        width: 100%;
        height: 100%;

        .carus_k1 {
          width: 100%;
          height: 100%;
          background-color: #f8f8f871;
        }
      }

      .carus_k:hover {
        .carus_k1 {
          background-color: #ffffff00;
        }
      }
    }
    @media( max-width:1200px){
      .carus3 {
        width: 100%;
        height: 300px;
        background-color: #f3f3f3;
        display: flex;
      
        .mySwiper5 {
          width: 75%;
          margin: auto;
          height: 23%;
      }
  
  }
}