*{
    margin: 0;
}
.mySwiper2 {
    width: 1200px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
 .mySwiper2 .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #ffffff;
    height: calc((100% - 30px) / 2) !important;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mhum:hover{
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.116);
  }
  .swiper-grid-column>.swiper-wrapper{
    flex-direction: row;
  }
  .mySwiper2 .swiper-wrapper{
    height: 800px;
  }
  .min{
    width: 100%;
    height: 70%;
  }
  .min_1{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/1.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_2{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/5.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_3{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/7.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_4{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/4.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_5{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/3.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_6{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/6.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_7{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/4.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_8{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/2.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_9{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/4.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_10{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/5.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_11{
    width: 90%;
    height: 100%;
    background-image: url(https://htmldemo.net/flosun/flosun/assets/images/product/6.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min_12{
    width: 90%;
    height: 100%;
    background-image: url(	https://htmldemo.net/flosun/flosun/assets/images/product/9.jpg);
    margin: auto;
    background-position: center;
    background-size: cover;
  }
  .min2{
    width: 100%;
    height: 30%;
  }
  .min_text{
    background-image: url(../../src/components/UI/ul/ww.png);
    width: 100px;
    height: 20px;
    margin:5px auto;
    background-repeat: no-repeat;
  }
  .min_text1{
    color: black;
    font-size: 14px;
    font-weight: 800;
  }
  .p_min{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .mhum{
    background-color: #fff;
    width: 90%;
    height: 90%;
    margin: auto;
  }
  .reda{
    text-align: center;
  }
  .min_span{
    background-image: url(../../src/components/UI/ul/ul.png);
    width: 60px;
    height: 15px;
    background-repeat: no-repeat;
    margin-top: 5px;
  }
.rede_p{
  
    margin-top: 100px;
        font-size: 20px;
        font-family: 'Great Vibes', cursive;
        color: #E72463;
        font-weight: 800;
        letter-spacing:4px;
}
.rede_p1{
  font-size: 38px;
  font-family: 'Josefin Slab', serif;
  
}
@media(max-width: 1200px){
  .mySwiper2 {
    width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media(max-width: 1000px){
  .mySwiper2 {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}