footer {
    background-color: #1b1b1b;
    height: 390px;
    width: 100%;

    .parent6 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        width: 1300px;
        height: 100%;
        margin: auto;

        .div61 {
            grid-area: 1 / 1 / 2 / 4;

            .red_img {
                width: 155px;
                height: 36px;
                background-image: url(https://htmldemo.net/flosun/flosun/assets/images/logo/logo-footer.png);
                background-position: center;
                background-size: cover;
                margin-top: 110px;
            }

            .red_p {
                width: 100%;
                height: 100px;
                margin-top: 10px;

                .red_p1 {
                    color: #fff;
                    line-height: 1.6;
                    font-weight: 400;
                    font-family: "Poppins", sans-serif;
                    scroll-behavior: smooth;
                    font-size: 14px;
                }
            }

            .red_imgblo {
                width: 100%;
                height: 100px;
                display: flex;
                gap: 10px;

                .red_blo1 {
                    width: 40px;
                    height: 40px;
                    background-image: url(../../src/components/UI/ul/bq.png);
                    background-position: center;
                    background-size: cover;
                }

                .red_blo2 {
                    width: 40px;
                    height: 40px;
                    background-image: url(../../src/components/UI/ul/bw.png);
                    background-position: center;
                    background-size: cover;
                }

                .red_blo3 {
                    width: 40px;
                    height: 40px;
                    background-image: url(../../src/components/UI/ul/be.png);
                    background-position: center;
                    background-size: cover;
                }

                .red_blo4 {
                    width: 40px;
                    height: 40px;
                    background-image: url(../../src/components/UI/ul/br.png);
                    background-position: center;
                    background-size: cover;
                }

                .red_blo5 {
                    width: 40px;
                    height: 40px;
                    background-image: url(../../src/components/UI/ul/bv.png);
                    background-position: center;
                    background-size: cover;
                }

                .red_blo1:hover {
                    transition: 1s;
                    background-image: url(../../src/components/UI/ul/v1.png);
                }

                .red_blo2:hover {
                    transition: 1s;
                    background-image: url(../../src/components/UI/ul/v2.png);
                }

                .red_blo3:hover {
                    transition: 1s;
                    background-image: url(../../src/components/UI/ul/v3.png);
                }

                .red_blo4:hover {
                    transition: 1s;
                    background-image: url(../../src/components/UI/ul/v4.png);
                }

                .red_blo5:hover {
                    transition: 1s;
                    background-image: url(../../src/components/UI/ul/v5.png);
                }
            }
        }

        .div62 {
            grid-area: 1 / 4 / 2 / 6;
            color: #ffffff;

            .blo_red_p {
                color: inherit;
                font-weight: 500;
                font-size: 22px;
                margin-top: 110px;
                line-height: 1;
            }

            .blo_red_p1 {
                color: inherit;
                margin: 8px 0;
                text-decoration: none;
            }

            .blo_red_p1:hover {
                color: #E72463;
                margin-left: 8px;
                transition: 0.300s;
            }

        }

        .div63 {
            grid-area: 1 / 6 / 2 / 8;
            color: #ffffff;

            .blo_red_p {
                color: inherit;
                font-weight: 500;
                font-size: 22px;
                margin-top: 110px;
                line-height: 1;
            }

            .blo_red_p1 {
                color: inherit;
                margin: 8px 0;
                text-decoration: none;
            }

            .blo_red_p1:hover {
                color: #E72463;
                margin-left: 8px;
                transition: 0.300s;
            }
        }

        .div64 {
            grid-area: 1 / 8 / 2 / 10;
            color: #ffffff;

            .blo_red_p {
                color: inherit;
                font-weight: 500;
                font-size: 22px;
                margin-top: 110px;
                line-height: 1;
                text-decoration: none;
            }

            .blo_red_p1 {
                color: inherit;
                margin: 8px 0;
                text-decoration: none;
            }

            .blo_red_p1:hover {
                color: #E72463;
                margin-left: 8px;
                transition: 0.300s;
            }
        }

        .div65 {
            grid-area: 1 / 10 / 2 / 13;
            color: #ffffff;

            .blo_red_p {
                color: inherit;
                font-weight: 500;
                font-size: 22px;
                margin-top: 110px;
                line-height: 1;
            }

            .blog_p {
                color: inherit;
                font-family: "Poppins", sans-serif;
                font-size: 14px;
                line-height: 31px;
                .a{
                    color: #ffff;
                    text-decoration: none;
                }
            }
        }
    }
}