.header_1 {
    display: flex;
    height: 100px;
    width: 100%;
    position: absolute;
    z-index: 21;
    position: fixed;
    top: 0px;
    background-color: #ffffff77;

    transition: 1s;
}
.input{
    background-color: #ffffff;
    border: solid red 1px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.116);
    width: 300px;
    height: 30px;
    position: fixed;
    right: 50px;
    top: 100px;
  }
  .input:hover{
    border: solid red 1px;
  }
.input.a{
    display: none;
}
.qw_q{
    width: 600px;
    height: 600px;
    border: solid red 2px;
    position: fixed;
    right: 10px;
    top: 60px;
}
.qw_q1{
    width: 400px;
    height: 70px;
    border: solid rgb(0, 0, 0) 2px;
    position: fixed;
    right: 10px;
    top: 60px;
}
.wer_kar{
    background-color: #d1d1d1;
    box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.233);
    width: 350px;
    height: 400px;
    position: fixed;
    right: 50px;
    top: 100px;
}
.header_1:hover {
    background-color: #00000025;
    transition: 1s;
}
.wer_kar.close{
    display: none;
}
.nav_1 {
    width: 30%;
}

.nav_2 {
    width: 40%;
    margin: auto;
}

.nav_3 {
    width: 30%;
}

.nav_2_ul {
    gap: 70px;
    display: flex;
    list-style: none;
}

.rr {
    display: flex;
    gap: 30px;
    margin: 40px 0 0 70%;
}

.ul_li {
    font-size: 15px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 18px;
    color: #000000;
}

.a_href {
    font-size: 15px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 18px;
    color: #000000;
}

.a_href:hover {
    color: #E72463;
}

.nav_1_img {
    margin: 30px;
    width: 125px;
}
.u_p{
    position: relative;
}
.u_p::after{
    top: 0;bottom: 0;left: 0;right: 0;
    content: '';
    position:absolute;
}
.u_p:hover {
    color: #E72463;
}
.u_p1:hover {
    color: #E72463;
}


@media(max-width:1800px) {
    .nav_1 {
        width: 20%;
    }

    .nav_2 {
        width: 50%;
        margin: auto;
    }

    .nav_3 {
        width: 30%;

    }

    .nav_2_ul {
        gap: 30px;
        display: flex;
        margin: auto 0px 0 40px;
    }
}

@media(max-width:1200px) {

    .nav_2_ul {
        gap: 20px;
        display: flex;
        margin: auto 0px 0 40px;
    }

    .rr {
        display: flex;
        margin: 40px 0 0 40%;
    }
}

@media(max-width:1000px) {
    .nav_1 {
        width: 50%;
    }

    .nav_2 {
        display: none;
    }

    .nav_3 {
        width: 50%;

    }

    .rr {
        display: flex;
        margin: 40px 0 0 70%;
    }
}