@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&family=Poppins:wght@500&family=Roboto+Condensed:wght@700&display=swap');
#ter{
    width: 100%;
    height: 800px;

    



.wer0 {
    width: 1200px;
    display: flex;
    margin: auto;

    .wer_p1 {
        .p_1 {
            text-align: center;
            margin-top: 100px;
            font-size: 20px;
            font-family: 'Great Vibes', cursive;
            color: #E72463;
            font-weight: 800;
            letter-spacing: 3px;
        }

        .p {
            text-align: center;
            font-size: 36px;
            font-family: 'Josefin Slab', serif;
            letter-spacing: 1px;
        }
        width: 50%;
        height: 100%;

        .mySwiper3 {
            width: 100%;
            height: 500px;

            .swiper-slide {
                height: 100% !important;

                .red {
                    width: 100%;
                    height: 100%;

                    .wer1 {
                        border-radius: 50%;
                        margin: auto;
                        width: 150px;
                        height: 150px;
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/testimonial/testimonial1.jpg);
                        background-position: center;
                        background-size: cover;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
                        margin-top:10px ;
                    }

                    .wer2 {
                        border-radius: 50%;
                        margin: auto;
                        width: 150px;
                        height: 150px;
                        background-image: url(https://htmldemo.net/flosun/flosun/assets/images/testimonial/testimonial2.jpg);
                        background-position: center;
                        background-size: cover;
                        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.185);
                        margin-top:10px ;
                    }

                    .qq {
                        font-size: 19px;
                        margin: 40px auto 5px auto;
                        text-align: center;
                        font-weight: 100;
                        color: #484848;
                        font-family: "Poppins", sans-serif;
                    }
                    h6{
                        color: #E72463;
                        text-align: center;
                        font-size: 14px;
                        font-weight: 500;
                        margin-top: 20px;
                        font-family: "Poppins", sans-serif;
                        span{
                            color: #000000;
                            font-weight: 500;
                            margin-top: 0px;
                            font-weight: 400;
                            line-height: 1;
                        }
                    }
                }
            }

            .swiper {
                width: 100%;
                height: 100%;
            }
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .wer_p2 {
        width: 50%;
        height: 500px;
        .p_1 {
            text-align: center;
            margin-top: 100px;
            font-size: 20px;
            font-family: 'Great Vibes', cursive;
            color: #E72463;
            font-weight: 800;
            letter-spacing: 3px;
        }

        .p {
            text-align: center;
            font-size: 36px;
            font-family: 'Josefin Slab', serif;
            letter-spacing: 1px;
        }
        .wer_q {
            width: 90%;
            height: 80%;
            margin: 40px auto;

            .mySwiper4 {
                width: 100%;
                height: 100%;

                .swiper-wrapper {
                    width: 100%;
                    height: 100%;

                    .swiper-slide {
                        width: 100%;
                        height: 160px;
                        display: block;
                        background-color: #f6f6f6;
                        transition: 0.300s;
                        display: flex;

                        .runa {
                            background-color: #E72463;
                            border: solid #fff 1px;
                            display: flex;
                            height: 99.50%;
                            width: 20%;

                            p {
                                color: #fff;
                                font-size: 14px;
                                text-align: center;
                                margin: auto;
                                font-family: 'Josefin Slab', serif;
                            }
                        }
                        .run_2a:hover{
                            .text_run{
                                h2{
                                    color: #fff;
                                }
                                p{
                                    color: #fff;
                                    transition: 0.600s;
                                    span{
                                        color: #f6f6f6;
                                    }
                                }
                            }
                        }
                        .run_2a {
                            width: 80%;
                            height: 100%;
                            display: flex;

                            .img_run {
                                width: 43px;
                                height: 43px;
                                background-image: url(https://htmldemo.net/flosun/flosun/assets/images/icon/author.png);
                                background-position: center;
                                background-size: cover;
                                border-radius: 50%;
                                margin: auto 10px;
                            }
                            .text_run{
                                margin: auto 2px;
                                width: 80%;
                                h2{
                                    color: #2c2c2c;
                                    font-size: 18px;
                                    font-family: 'Josefin Slab', serif;
                                    font-family: 'Poppins', sans-serif;
                                    font-weight: 100;
                                }
                                p{
                                    color: #484848;
                                    
                                    span{
                                        color: #484848;
                                    }
                                }
                            }
                        }
                    }

                    .swiper-slide:hover {
                        background-color: #E72463;
                        transition: 0.300s;
                    }

                    .swiper-slide img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .swiper {
                    width: 100%;
                    height: 100%;


                }
            }
        }
    }
}
}

@media(max-width:1200px){
    #ter{
          .wer0{
        width: 1000px;
        margin: auto;
    }
    .parent2 {
        width: 1000px;
    }  
    }

}
@media(max-width:1000px){
    #ter{
        height: 1500px;
            .wer0{
        width: 800px ;
        height: 1000px;
        flex-direction: column;
        
        .wer_p1{
            .p_1 {
                text-align: center;
                margin-top: 100px;
                font-size: 20px;
                font-family: 'Great Vibes', cursive;
                color: #E72463;
                font-weight: 800;
                letter-spacing: 3px;
            }
    
            .p {
                text-align: center;
                font-size: 36px;
                font-family: 'Josefin Slab', serif;
                letter-spacing: 1px;
            }
        
    

            width: 100%;
            margin: auto;
        }
        .wer_p2{ 
           .p_1 {
                text-align: center;
                margin-top: 20px;
                font-size: 20px;
                font-family: 'Great Vibes', cursive;
                color: #E72463;
                font-weight: 800;
                letter-spacing: 3px;
            }
    
            .p {
                text-align: center;
                font-size: 36px;
                font-family: 'Josefin Slab', serif;
                letter-spacing: 1px;
            }
            width: 100%;
            margin: auto;
        }
        }
    }


    }
    .parent2 {
        width: 800px;
    }
    @media(max-width:1000px){
        #ter{
            height: 1500px;
                .wer0{
            width: 90% ;
            height: 1000px;
            flex-direction: column;
            
            .wer_p1{
                width: 100%;
                margin: auto;
            }
            .wer_p2{ 
                width: 100%;
                margin: auto;
            }
            }
        }
    
    
        }
        @media(max-width:700px){
            #ter{
                height: 1400px;
                    .wer0{
                width: 90% ;
                height: 1000px;
                flex-direction: column;
                
                .wer_p1{
                    width: 100%;
                    margin: auto;
                }
                .wer_p2{ 
                    width: 100%;
                    margin: auto;
                    height: 400px;
                    .wer_q{.mySwiper4{
                        .swiper-wrapper{
                           .swiper-slide{
                       .runa {
                      p{
                        font-size: 12px;
                    }  
                    } 
                    } 
                        }
                        
                    }
                        
                    }
                    
                    
                    
                }
                }
            }
        
        
            }